:root {
    font-size: 10px;
}

html, body, #app {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "circular-light";
    font-size: 1.5rem;
}

input {
    border: none;
    background-color: none;
    outline: none;
}