:root {
    font-size: 10px;
}

html, body, #app {
    height: 100%;
    /* overflow-x: hidden; */
}

body {
    font-family: "circular-light";
    font-size: 1.5rem;
}

input, button {
    border: none;
    background-color: #fff;
    outline: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}